<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1 - June 10</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="https://ucsb.co1.qualtrics.com/jfe/form/SV_2nlNcgGv3OTPQYS">Pre-workshop survey</a> - <a href="https://datacarpentry.org/geospatial-workshop/#setup">Setup</a></td> <!--  <a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a>-->
      </tr>
      <tr>               <!-- row 2   -->
        <td>10:00 AM</td>        <!-- time    -->
        <td>Workshop intro</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>10:15 AM</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/r-raster-vector-geospatial/01-raster-structure.html">Intro to Raster Data</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td>11:00 AM</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/r-raster-vector-geospatial/02-raster-plot.html">Plot Raster Data</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>11:55 AM</td>        <!-- time    -->
        <td>Break - Lunch</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td>12:10 PM</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/r-raster-vector-geospatial/03-raster-reproject-in-r.html">Reproject Raster Data</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td>1:05 PM</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/r-raster-vector-geospatial/04-raster-calculations-in-r.html">Raster Calculations</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td>2:00 PM</td>        <!-- time    -->
        <td>End of day 1</td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2 - June 11</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>10:00 AM</td>        <!-- time    -->
        <td>Review</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>10:15 AM</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/r-raster-vector-geospatial/05-raster-multi-band-in-r.html">Work with Multi-Band Rasters</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>11:10 AM</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/r-raster-vector-geospatial/06-vector-open-shapefile-in-r.html">Open and Plot Vector Layers</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>12:05 PM</td>        <!-- time    -->
        <td>Break - Lunch</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>12:20 PM</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/r-raster-vector-geospatial/07-vector-shapefile-attributes-in-r.html">Explore and Plot by Vector Layer Attributes</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>1:15 PM</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/r-raster-vector-geospatial/08-vector-plot-shapefiles-custom-legend.htmll">Plot Multiple Vector Layers</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>2:00 PM</td>        <!-- time    -->
        <td><a href="https://ucsb.co1.qualtrics.com/jfe/form/SV_ePunBKJD6xPVhk2">Post-Workshop Survey</a> - End of day 2</td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>